.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(105,105,105, 0.2);
  backdrop-filter: blur(1px);
}

.modal-wrapper {
  z-index: 1050;
}
.modale {
  z-index: 1051;
}


